    <tr id="user_<%= user.id %>">
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td></td>
      <td><%= link_to 'Edit', "#", data: {id: "user_edit_#{user.id}"}, class: "edit_user" %></td>
    <tr>
